@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root{
    --preto: rgba(0, 0, 0, 0.956);
    --branco: rgb(255, 255, 255);
    --cinza: rgba(192, 192, 192, 0.427);
    --verde: rgba(6, 184, 6, 1.0);
    --verd2: rgba(82, 219, 82, 1.0);

    --corprojeto1: rgb(172, 10, 10);
    --corprojeto2: rgb(224, 16, 16);
    --corprojeto3: rgb(151, 42, 42);
    --corprojeto4: rgb(170, 170,21);
    --corprojeto5: rgb(247, 247, 7);
    --corprojeto6: rgb(255, 136, 0);
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}

/*Configurações Gerais do Site*/
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    scroll-behavior: smooth;
}

/*Configurações do corpo*/
body{
    background-color: var(--cinza);
}

/*Configurações do Cabeçalho*/
header{
    background: linear-gradient(to left, var(--corprojeto6), var(--corprojeto1));
    color: var(--branco);
    position: fixed;
    width: 100%;
    margin: auto;
}

nav{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    word-spacing: 10px;
}

a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bolder;
}

a:hover{
    color: yellow;
}

/*Configurações de separadores com Divs*/
.separador{
    margin-top: 11%;
}

.separador-conteudo{
    margin-top: 1%;
}

.separador-conteudo-opcoes{
    margin-top: 12%;
}

/*Configuraçoes dp conteúdo principal*/
main{
    background-color: var(--branco);
    padding: 1%;
    margin: auto;
    width: 85%;
    box-shadow: 1px 1px 10px 0px var(--preto);
    border-radius: 20px;
    
}


aside{
    background-color: var(--branco);
    padding: 1%;
    margin: auto;
    width: 85%;
    box-shadow: 1px 1px 10px 0px var(--preto);
    border-radius: 20px;
}

/*Configurações de Links de Produtos*/
.menu{
    color: var(--branco);
    background-color: var(--corprojeto1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--corprojeto6);
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Configurações de Títulos Headlines*/
h1{
    text-align: center;
    margin-top: 3%;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 3em;
    font-style: italic;
    color: var(--corprojeto1);
    text-shadow: 1px 1px 1px rgba(255, 136, 0, 0.916);
}

h2{
    margin: 0px 40px 30px 40px;
    font-style: italic;
    font-size: 2em;
    color: var(--corprojeto1);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 136, 0, 0.916);
}

h4{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.063);
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
    padding-top: 0,5%; 
    padding-bottom: 0,5%;
}

/*Configrações dos Parágrafos*/

p{
    text-align: justify;
    margin: 0px 40px 20px 40px;
    padding-top: 0,75%;
    padding-bottom: 0,75%;
}

/*Configurações de Imagens*/
img{
    width: 100%;
}

img#topo{
    width: 400px;
    height: 130px;
    display: block;
    margin: auto;
    padding: 10px;
}

img#rodape{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    padding: 10px;
}

/*Configurações para Botão de  Ação*/
button{
    padding: 8px 20px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.3rem;
    display: block;
    margin: auto;
    transition: 300ms ease;
}

button:hover{
    background: var(--verd2);
    color: var(--preto);
}

/*Configurações da Grade de Conteúdo - Grids*/
.grid-conteudo{
    background-color: var(--branco);
    padding: 0,5%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1024px;
    margin: auto;
    gap: 10px;
}

.grid div{
    background-color: var(--branco);
    text-align: center;
    padding: 8px;
    box-shadow: 1px 1px 1px 2px var(--corprojeto6);
    border-radius: 10px;
}

footer{
    background: linear-gradient(to right, var(--corprojeto6), var(--corprojeto1));
    color: var(--branco);
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

footer > h3{
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.063);
    font-size: 2em;
}

footer > p{
    color: var(--branco);
    text-align: center;
    font-weight: bold;
}

/*Configurações de Estilo para Dispositivos Móveis*/
@media(min-width: 320px) and (max-width: 1024px){

    :root{
        --preto: rgba(0, 0, 0, 0.956);
        --branco: rgb(255, 255, 255);
        --cinza: rgba(192, 192, 192, 0.427);

        --corprojeto1: rgb(172, 10, 10);
        --corprojeto2: rgb(224, 16, 16);
        --corprojeto3: rgb(151, 42, 42);
        --corprojeto4: rgb(170, 170,21);
        --corprojeto5: rgb(247, 247, 7);
        --corprojeto6: rgb(255, 136, 0);
    }

    *{
        margin: 0;
        border: 0;
        padding: 0;
    }

    /*Configurações Gerais do Site*/
    html{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }

    /*Configurações do corpo*/
    body{
        background-color: var(--cinza);
    }

    /*Configurações do Cabeçalho*/
    header{
        background-color: var(--corprojeto1);
        color: var(--branco);
        text-align: center;
        position: fixed;
        width: 100%;
    }

    nav{
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 1.3rem;
        word-spacing: 10px;
    }

    /*Divs*/
    .separador{
        margin-top: 33%;
    }
    
    /*Configuraçoes dp conteúdo principal*/
    main{
        background-color: var(--branco);
        padding: 1%;
        margin: auto;
        width: 85%;
        box-shadow: 1px 1px 10px 0px var(--preto);
        border-radius: 20px;
        
    }

    .separador-conteudo{
        margin-top: 1%;
    }

    .separador-conteudo-opcoes{
        margin-top: 20%;
    }

    aside{
        background-color: var(--branco);
        padding: 1%;
        margin: auto;
        width: 85%;
        box-shadow: 1px 1px 10px 0px var(--preto);
        border-radius: 20px;
    }

    /*Configurações de Títulos Headlines*/
    h1{
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 2em;
        padding: 0px 30px;
    }

    h2{
        margin: 0px 40px 30px 40px;
        text-align: left;
        font-size: 1.5em;
        font-style: italic;
    }

    h4{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.063);
        font-size: 1em;
    }

    h1, h2, h3, h4, h5, h6{
        padding-top: 0,5%; padding-bottom: 0,5%;
    }

    /*Configrações dos Parágrafos*/

    p{
        text-align: justify;
        /*margin: 0px 40px 20px 40px;*/
        padding-top: 5%;
        padding-bottom: 5%;
    }

    /*Configurações de Imagens*/
    img{
        width: 100%;
    }

    img#topo{
        width: 300px;
        height: 100px;
        display: block;
        margin: auto;
        padding: 10px;
    }
    
    img#rodape{
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
        padding: 10px;
    }

    footer{
        background-color: var(--corprojeto1);
        color: var(--branco);
        text-align: center;
        font-weight: bold;
        padding-top: 5%;
    }
    
    footer > h3{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.063);
        font-size: 1.5em;
    }
    
    footer > p{
        color: var(--branco);
        text-align: center;
        font-weight: bold;
        padding-top: 1%;
    }
}